<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Teacher list page</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Teacher</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div id="listTeacher"></div>
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div id="popupDetail"></div>

<script>
    $(function () {
        GetListTeacher();
    });
    function GetListTeacher() {
        var url = '@Url.Action("GetAllTeacher", "Teacher")';

        $.ajax({
            url: url,
            type: "POST",
            success: function (data) {
                $("#listTeacher").html(data);
            },
            error: function (xhr) {
                alert("error");
            }
        })


        //$('#listTeacher').load(url, {}, function (response, status, xhr) {
        //});
    }
</script>